.sectors {
    display: flex;
    flex-direction: row;
}

.sector {
    text-align: center;
}

.sector-1 {
    width: 65%;
}

.sector-2 {
    width: 35%;
}

.plot-section {
    width: 100%;
    height: 1000px;
}